<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.post %></td>
  </tr>
<% end %>
</table>

<br />
