<div class="hero">
  <p id="notice"><%= notice %></p>
  <div class="hero-content">
    <h1>Explore,<br>more</h1>
  </div>
</div>
<div id="discovery">
  <div id="explored"><h1 class="explored-t">Explored</h1><div id="visited"></div></div>
  <div id="map"> <h1 class="map-t">Your World to Discover</h1><div id="home-map"></div></div>
  <div id="explore"><h1 class="unexplored-t">Unexplored<h1><div id="not-visited"></div></div>
</div>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
  var bounds = new L.LatLngBounds(new L.LatLng(90, -180), new L.LatLng(-80, 180));
  var mymap = L.map('home-map', {
    scrollWheelZoom: false,
    minZoom: 1,
    maxBounds: bounds,
    maxBoundsViscosity: 1.0
  }).setView([0, 0], 1);
  var polygon = L.polygon([
      [90, -180],
      [90, 180],
      [-90, 180],
      [-90, -180],
  ]).addTo(mymap);
  polygon.setStyle({
    fillColor: '#4286f4',
    color: '#4286f4',
    opacity: 1,
    fillOpacity: 1,
  });
  var myStyle = {
    color: '#4286f4',
    stroke:false,
  };

  var myGeojSonLayerGroup = L.geoJson(world, {
    onEachFeature: myOnEachFeature,
    style: myStyle
  }).addTo(mymap);

  $(".cntrys").click(function() {
    var item = $(this);
    console.log(item.data().countryName);
    if (item.parent().attr('id') === 'visited') {
      $('#not-visited').append(item);
      myGeojSonLayerGroup.resetStyle(myGeojSonLayerGroup);
      item.data("countryLayer").setStyle({
        color: '#4286f4',
        fillOpacity: 1,
      });
    }else{
      $('#visited').append(item);
      myGeojSonLayerGroup.resetStyle(myGeojSonLayerGroup);
      item.data("countryLayer").setStyle({
        color: "#88bb88",
        fillOpacity: 1,
      }).bindPopup(item.data().countryName);
      let neLat = item.data().countryLayer._bounds._northEast.lat;
      let swLat = item.data().countryLayer._bounds._southWest.lat;
      let neLon = item.data().countryLayer._bounds._northEast.lng;
      let swLon = item.data().countryLayer._bounds._southWest.lng;
      let lat = (neLat + swLat) / 2;
      let lon = (neLon + swLon) / 2;
      let deltaLat = Math.sqrt((neLat - swLat) * (neLat - swLat));
      let deltaLon = Math.sqrt((neLon - swLon) * (neLon - swLon));
      if (deltaLat > 30 || deltaLon > 60) {
        mymap.setView([lat, lon], 1);
      }else if (deltaLat < 0.5 || deltaLon < 0.5){
        mymap.setView([lat, lon], 10);
      }else {
        mymap.setView([lat, lon], 4);
      }
    }
  });

  function myOnEachFeature(feature, layer) {
    var props = feature.properties;
    var item = $(`
      <div class="cntrys">
        <p class="title">${props.name}</p>
        <button>Click Me!</button>
      </div>`);
    item.data("countryLayer", layer);
    item.data("countryName", props.name);
    $('#not-visited').append(item);
  }
</script>
