.hero{
  height: calc(100vh - 112px);
  background: image-url("travel-hero.jpg") top left / cover no-repeat ;
}
.hero-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  h1 {
    background-color: rgba(255,255,255,0.4);
    font-size: 4rem;
    line-height: 4.5rem;
    color: rgba(50,50,50, 0.7);
    text-transform: uppercase;
  }
}

#discovery {
  display: grid;
  grid-template-columns: 1fr 515px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "fus roh dah";
  h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  #visited, #not-visited{
    grid-area: "dah";
    overflow: auto;
    height: 495px;
    padding: 10px;
    line-height: 1.2rem;
    min-width: 220px;
  }
  #home-map{
    grid-area: "roh";
    width: 515px;
    height: 515px;
  }
  #visited{
    grid-area: "fus";
    text-align: right;
  }
}
